.header{
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0;
}
.innerheader{
    display: flex;
    width: 100%;
    height: 90px;
    background: #4e657a;
    padding-left: 100px;
}
.innerheader h1{
    color: white;
    font-size: 24px;
    padding-top: 10px;
}
.headercontent{
    display: flex;
    padding-left: 200px;
    
}
.headercontent span{
    padding-top: 15px;
    position: relative;
    padding-left: 20px;
    align-items: center;
    line-height: 1px;
    cursor: pointer;
    padding-left: 40px;
}
.headercontent h5{
    position: relative;
    padding-right: 20px;
    line-height: 1px;
    color: white;
    text-align: center;
    
}
.dashboard{
    background: #f5a623;
}

.headercontent , span:hover{
    color: #f5a623;
}
